
.swiperFlag .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiperFlag .swiper-slide img {
    display: block;
    width: 70%;
    height: auto; 
}

.swiperFlag .swiper-slide-active > img {
    width: 100%;
    height: auto;
}

.swiperFlag .swiper-slide-prev {
    margin-right: 28px !important;
    margin-left: 4px !important;
}

.swiperFlag {
    height: 75px;
    width: 250px;
    margin-bottom: 3vh;
}



.swiperFeedback{
    height: 156px;
    width: 100%;
    overflow-x: hidden;
}
.swiperFeedback .swiper-slide {
   
    font-size: 18px;
    background: #F2F2F2;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: left;
}

.swiperFeedback .swiper-slide img {
    display: block;
    width: 120px;
    height:auto;
    object-fit: cover;
}
@media (min-width: 1020px) {
    .swiperFeedback{
        height: 186px;
    }

}
@media (min-width: 1280px) {
    .swiperFeedback{
        height: 250px;
        width: 60%;
    }
    
    .swiperFeedback .swiper-slide img {
       
        width: 150px;
        
    }
}


.star-rating {
    position: relative;
}

.stars {
    display: flex;
    gap: 1px;
}

.rating {
    position: absolute;
    top: 0;
}

.swiperTrustUs .swiper-slide{
    height: 40px !important;
    width: 40px !important;
   
    margin-right: 14px;
}
.swiperTrustUs {
    height: fit-content;
    width: 221px;
    position: static!important;
    display: grid!important;
}
.swiperTrustUs [class^="swiper-button-"]{
    inset: initial;
    margin: 0;
    align-self: center;
    color: #000000;
}
.swiperTrustUs .swiper-button-prev{
    justify-self: start;
    margin-left: -40px;
   
}
.swiperTrustUs .swiper-button-next{
    justify-self: end;
    margin-right: -40px;
   
}

.swiperTrustUs .swiper-button-next::after{
    font-size: 13px ;
    font-weight: 900;
}
.swiperTrustUs .swiper-button-prev::after{
    font-size: 13px ;
    font-weight: 900;
}
.swiperTrustUs .swiper-pagination{
    inset: initial!important;
    align-self: end;
    justify-self: center;
    margin-bottom: -40px;
}


@media (min-width: 1020px) {
    .swiperTrustUs .swiper-slide{
        height: 136px !important;
        width: 136px !important;
    }
    .swiperTrustUs {
        width: 500px;  
    }
    .swiperTrustUs .swiper-button-next::after{
        font-size: 25px ;
        font-weight: 900;
    }
    .swiperTrustUs .swiper-button-prev::after{
        font-size: 25px ;
        font-weight: 900;
    }

}
